@import url("../../theme/variables.css");

.mainCard{
    position: relative;
    margin: 0.2rem;
}

.selectCard{
    text-align: center;
    margin: 10%;
}

.titleCard{
    font-size: 1rem;
    margin: 0;
    color: white;
}

.cardLogo{
    position: absolute;
    font-size: 8rem;
    color: rgba(255,255,255,0.25);
    top: 0%;
    left: 2.5%;
}

.createPC{
    --background: linear-gradient(241deg, rgba(var(--ion-color-warning-rgb),1) 0%, rgba(var(--ion-color-tertiary-rgb),1) 100%);
    font-size: 1rem;
}

.titleIcon{
    font-size: 5rem;
    color: white;
}

.cardGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
}

.cardGrid > p{
    margin: 3%;
}

.cardHeader{
    padding:3%;
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-secondary-contrast);

}

.cardContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardSprite{
    background: url("https://www.intel.com/etc.clientlibs/settings/wcm/designs/intel/us/en/images/resources/printlogo.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    margin: 5%;
    height: 100px;
    flex:1;
}

.cardItem{
    flex: 4;
}

.overview{
    padding: 0% 3%;
}